.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  height: 100vh;
  min-height: 500px;
  background-color: var(--profile);
  position: relative;
  overflow: hidden;

  background-image: url("/header-effect-left.svg"), url("/header-effect-right.svg");
  background-position:
    -50% center,
    150% center;
  background-repeat: no-repeat, no-repeat;
  background-size:
    clamp(440px, 52vw, 760px) 100%,
    clamp(440px, 52vw, 760px) 100%;
}

.h1 {
  background: var(--border);
  mix-blend-mode: normal;
  border-radius: 8px;
  width: min-content;
  padding: 10px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.2);
}

.subtitle {
  font-weight: 400;
  font-size: 62px;
  line-height: 62px;
  color: #ffffff;
}

.description {
  font-weight: 400;
  font-size: 20px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

/* input */
.find-container-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input {
  all: unset;
  width: 427px;
  padding: 16px;
  background: var(--input);
  border: 1px solid var(--border);
  border-radius: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.5);
}

button {
  all: unset;
  background: var(--blue);
  border-radius: 17px;
  padding: 16px;
  /* border: 1px solid var(--border); */
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 27px;
  color: var(--title);
  cursor: pointer;
}

.body {
  display: flex;
  justify-content: center;
  padding: 200px;
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  flex: 1;
  max-width: 1000px;
}

@media screen and (max-width: 1300px) {
  .body {
    padding: 50px;
  }

  .body-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .header {
    background-position:
      -50% center,
      150% center;
    background-size:
      clamp(300px, 76vw, 480px) 100%,
      clamp(300px, 76vw, 480px) 100%;
  }

  .body {
    padding: 20px;
  }
}

/* body */

.body-title {
  font-weight: 400;
  font-size: 49px;
  line-height: 50px;

  color: var(--title);
  text-align: center;
}

/* arrow down */
.arrow-down {
  position: absolute;
  bottom: 20px;
  opacity: 0.2;
}
