:root {
  font-family: "Nunito", system-ui;
  font-weight: 400;
  font-style: normal;

  --background: #071422;
  --profile: #0b1b2b;
  --input: #040f1a;
  --border: #1c2f41;
  --post: #112131;

  --text: #afc2d4;
  --title: #e7edf4;
  --subtitle: #c4d4e3;
  --span: #7b96b2;
  --blue: #3294f8;
  --label: #3a536b;
}

html,
body,
#app {
  min-height: 100%;
  color: var(--text);
  background-color: var(--background);
}
